*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
h1{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid green;
}
.container{
    width: 100%;
    height: 100vh;
    background: #b8d8e0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -105px;
}
.calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 20px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 6px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 15px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: -8px -8px 15px rgba(114, 109, 109, 0.1);
    background:rgb(134, 131, 131) ;
}
form input.equal{
    width: 145px;
}
form input.operator1{
    background: #e4a804;
}
form input.operator{
    color: #069c0e;
}
.operator{
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.operator:hover{
    background: #b8d8e0;
}
.digit{
    border-radius: 6px;
    text-decoration: none;
    transition: background 0.5s;
}
.digit:hover{
    background: #e67c8c;
}